<div class="margin">
    <app-dialogdemo></app-dialogdemo>
</div>
<div class="margin">
    <app-autocomplete ></app-autocomplete>
</div>
<div class="margin">
    <app-buttontoggledemo></app-buttontoggledemo>
</div>
<div class="margin">
    <app-carddemo > </app-carddemo>
</div>
<div class="margin">
    <app-datedemo ></app-datedemo>
</div>
<div class="margin">
    <app-formfielddemo ></app-formfielddemo>
</div>
<div class="margin">
    <app-inputdemo ></app-inputdemo>
</div>
<div class="margin">
    <app-selectdemo ></app-selectdemo>
</div>
<div class="margin">
    <app-sidenavdemo ></app-sidenavdemo>
</div>
<div class="margin">
    <app-snackbardemo ></app-snackbardemo>
</div>
<div class="margin">
    <app-tabledemo ></app-tabledemo>
</div>
<div class="margin">
    <app-tabsdemo ></app-tabsdemo>
</div>
<router-outlet></router-outlet>