<div>
  <h2>Side Nav Demo</h2>
  <mat-drawer-container [hasBackdrop]="hasBackdrop.value">
    <mat-drawer #drawer [mode]="mode.value">I am cool</mat-drawer>
    <mat-drawer-content>
      <mat-form-field appearance="fill">
        <mat-label>Siden Nav</mat-label>
        <mat-select #mode value="side">
          <mat-option value="side">Side</mat-option>
          <mat-option value="over">Over</mat-option>
          <mat-option value="push">Push</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Has hasdrop</mat-label>
        <mat-select #hasBackdrop>
          <mat-option>Unset</mat-option>
          <mat-option [value]="true">True</mat-option>
          <mat-option [value]="false">False</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button (click)="drawer.toggle()">Toggle Drawer</button>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
